In [42]:
import pandas as pd
import sqlalchemy

In [31]:
colnames = ["id", "date", "user", "pc", "activity"]
df_dev = pd.read_csv("device.csv")
df_http = pd.read_csv("http.csv", names=colnames, header=None)
df_logon = pd.read_csv("logon.csv")

In [32]:
df_dev.head()

,id,date,user,pc,activity
0,{S7A7-Y8QZ65MW-8738SAZP},01/04/2010 07:12:31,DTAA/RES0962,PC-3736,Connect
1,{G7A8-G1OB94NR-3006NTXH},01/04/2010 07:35:40,DTAA/BJC0569,PC-2588,Connect
2,{R3L8-N0LW95FR-8358LLXS},01/04/2010 08:00:38,DTAA/EMZ0196,PC-1479,Connect
3,{I2F1-B5FB51FL-3128HBUL},01/04/2010 08:02:14,DTAA/ZKH0388,PC-1021,Connect
4,{P7R6-C5TV18CT-1677DWWM},01/04/2010 08:20:17,DTAA/RES0962,PC-3736,Disconnect

In [33]:
df = pd.concat([df_dev, df_http ,df_logon ]) 

#.join(df_logon, on="user")

In [34]:
df = df.drop("id", axis=1)

In [37]:
df = df.sort_values(by=['date'], ascending=False)

In [38]:
df

                       date          user       pc    activity
623387  12/31/2010 06:58:51  DTAA/EMR0242  PC-1306      Logoff
623386  12/31/2010 06:28:22  DTAA/SAP0304  PC-1331      Logoff
48014   12/31/2010 06:27:36  DTAA/SAP0304  PC-1331  Disconnect
48013   12/31/2010 06:26:19  DTAA/SAP0304  PC-1331     Connect
623385  12/31/2010 06:25:08  DTAA/SAP0304  PC-1331       Logon
...                     ...           ...      ...         ...
623392  01/03/2011 01:22:34  DTAA/JCC0998  PC-4499       Logon
623391  01/03/2011 01:21:31  DTAA/CLB0995  PC-0903      Logoff
623390  01/03/2011 00:44:23  DTAA/CLB0995  PC-0903       Logon
623389  01/03/2011 00:43:54  DTAA/JCC0998  PC-0053      Logoff
623388  01/03/2011 00:22:06  DTAA/JCC0998  PC-0053       Logon

[4366912 rows x 4 columns]

In [39]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://digger:golddigger%_@116.202.137.233:5432/digger')
df.to_sql('activity', engine, index=True)

912

In [40]:
df = pd.read_sql("activity", engine)

In [41]:
df.shape

(4366912, 5)