In [1]:
import pandas as pd
import os

In [2]:
files = [file for file in os.listdir("./ldap")]

In [3]:
files.remove('.ipynb_checkpoints')

In [4]:
dfs = []
for line in files:
    df_tmp = pd.read_csv("ldap/"+line)
    df_tmp["month"] = line[:-4]
    dfs.append(df_tmp)

In [5]:
df = pd.concat(dfs)

In [6]:
df.tail

<bound method NDFrame.tail of            employee_name  user_id    Domain                         Email  \
0    Burton M Stephenson  BMS0001  dtaa.com  Burton.M.Stephenson@dtaa.com
1       Keelie M Goodwin  KMG0002  dtaa.com     Keelie.M.Goodwin@dtaa.com
2           Dara O Craig  DOC0003  dtaa.com         Dara.O.Craig@dtaa.com
3          Yeo C Bennett  YCB0005  dtaa.com        Yeo.C.Bennett@dtaa.com
4          Tucker H Sims  THS0006  dtaa.com        Tucker.H.Sims@dtaa.com
..                   ...      ...       ...                           ...
993      Cedric R Carson  CRC0996  dtaa.com      Cedric.R.Carson@dtaa.com
994   Kathleen E Everett  KEE0997  dtaa.com   Kathleen.E.Everett@dtaa.com
995    Jermaine C Conrad  JCC0998  dtaa.com    Jermaine.C.Conrad@dtaa.com
996      Castor L Nelson  CLN0999  dtaa.com      Castor.L.Nelson@dtaa.com
997  Ezekiel L Dickerson  ELD1000  dtaa.com  Ezekiel.L.Dickerson@dtaa.com

              Role    month
0         Security  2010-12
1         Engineer  2010-12
2               VP  2010-12
3         Engineer  2010-12
4    Senior Manger  2010-12
..             ...      ...
993       IT Admin  2010-01
994       IT Admin  2010-01
995       IT Admin  2010-01
996       IT Admin  2010-01
997       IT Admin  2010-01

[17413 rows x 6 columns]>

In [7]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://digger:golddigger%_@116.202.137.233:5432/digger')
df.to_sql('user', engine, index=True)

413

In [8]:
df_1 = pd.read_sql('user', engine)

In [9]:
df_1

,index,employee_name,user_id,Domain,Email,Role,month
0,0,Burton M Stephenson,BMS0001,dtaa.com,Burton.M.Stephenson@dtaa.com,Security,2010-12
1,1,Keelie M Goodwin,KMG0002,dtaa.com,Keelie.M.Goodwin@dtaa.com,Engineer,2010-12
2,2,Dara O Craig,DOC0003,dtaa.com,Dara.O.Craig@dtaa.com,VP,2010-12
3,3,Yeo C Bennett,YCB0005,dtaa.com,Yeo.C.Bennett@dtaa.com,Engineer,2010-12
4,4,Tucker H Sims,THS0006,dtaa.com,Tucker.H.Sims@dtaa.com,Senior Manger,2010-12
...,...,...,...,...,...,...,...
17408,993,Cedric R Carson,CRC0996,dtaa.com,Cedric.R.Carson@dtaa.com,IT Admin,2010-01
17409,994,Kathleen E Everett,KEE0997,dtaa.com,Kathleen.E.Everett@dtaa.com,IT Admin,2010-01
17410,995,Jermaine C Conrad,JCC0998,dtaa.com,Jermaine.C.Conrad@dtaa.com,IT Admin,2010-01
17411,996,Castor L Nelson,CLN0999,dtaa.com,Castor.L.Nelson@dtaa.com,IT Admin,2010-01
17412,997,Ezekiel L Dickerson,ELD1000,dtaa.com,Ezekiel.L.Dickerson@dtaa.com,IT Admin,2010-01